* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/* Cabecera*/
.cabecera {
  background-color: #f7df1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.titulo {
  font-family: sans-serif;
}

/* Menu lateral*/
.contenedor-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;

  background-color: rgba(0, 0, 0, 0.7);
}

.menu {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.items-menu {
  list-style: none;
  height: 100%;
}

.items-menu a {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f7df1e;
  font-size: 1.5rem;
  font-weight: bold;
}

.items-menu a:hover {
  background-color: #f7df1e;
  color: black;
}

.mostrar-menu {
  left: 0;
}

/* Botón menú*/
.fas {
  font-size: 24px;
  padding: 1rem;
}

.btn {
  position: fixed;
  z-index: 999;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;

  background-color: #f7df1e;

  border: 1px solid black;
}

/* Secciones principales*/
.secciones {
  text-align: center;
  height: 100%;

  border: 1px solid black;
}

.titulo-seccion {
  font-family: sans-serif;
  padding: 0.5rem;
}

/* Seccion 1*/
.subtitulo {
  font-family: monospace;
  font-size: 2rem;
  padding: 1rem;
}
.reloj {
  font-family: fantasy;
  font-size: 3rem;
}

.botones {
  padding: 0.2rem;
}
