* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}

/* Cabecera*/
.cabecera {
  padding: 1rem;
  background-color: #f7df1e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.titulo {
  font-family: sans-serif;
}

/* Menu lateral*/
.contenedor-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;

  background-color: rgba(0, 0, 0, 0.7);
}

.mostrar-menu {
  left: 0;
}

.menu {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.items-menu {
  list-style: none;
  height: 100%;
}

.items-menu a {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f7df1e;
  font-size: 1.5rem;
  font-weight: bold;
}

.items-menu a:hover {
  background-color: #f7df1e;
  color: black;
}

/* Botón menú*/
.fas {
  padding: 1rem;
}

.btn {
  position: fixed;
  z-index: 999;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;

  background-color: #f7df1e;

  border: 1px solid black;
}
.btn:hover {
  background-color: #343430;
  color: #f7df1e;
}

/*Botón ScrollTop */
.scrollTop {
  position: fixed;
  z-index: 999;
  bottom: -3.5rem;
  right: 4rem;
  border-radius: 50%;
  text-decoration: none;
  cursor: default;
  background-color: #f7df1e;

  transition: bottom 500ms ease;
  border: 1px solid black;
}

.showScrollTop {
  bottom: 0.5rem;
}

.scrollTop:hover {
  background-color: #343430;
  color: #f7df1e;
}

/* Botón dark mode */

.darkModeBtn {
  position: fixed;
  z-index: 999;
  bottom: 0.5rem;
  left: 0.5rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #f7df1e;
}

.darkModeBtn:hover {
  background-color: #343430;
  color: #f7df1e;
}

/* Estilos Dark Mode */

.darkMode {
  background-color: #141414;
  color: #f7df1e;
}

.botonesDark:hover {
  background-color: #696969;
  color: #f7df1e;
}

/* Secciones principales*/

.secciones {
  text-align: center;
  height: 100vh;

  border: 1px solid black;
}

.titulo-seccion {
  font-family: sans-serif;
  padding: 0.5rem;
}
.subtitulo {
  font-family: monospace;
  font-size: 2rem;
  padding: 1rem;
}

/* Sección 1 Reloj y alarma */
.reloj {
  font-family: fantasy;
  font-size: 3rem;
}

.botones {
  padding: 0.2rem;
}

/* Sección 2 Eventos de teclado*/

.stage {
  display: flex;
  min-height: 50vh;
  background-color: #494949;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f7df1e;
}

/* Sección 3 Countdown*/
.countdown {
  font-family: monospace;
  font-size: 2rem;
  padding: 0.5rem;
}
.temporizador {
  font-family: monospace;
  font-size: 3rem;
  padding: 0.5rem;
}
.mensaje {
  font-size: 4rem;
  color: crimson;
  font-family: fantasy;
}

/* Seccion 4 Responsive Js*/

.enlaces {
  margin-top: 50px;
  color: #7a7129;
  font-size: 2rem;
  display: block;
}
.enlaces:hover {
  color: #202020;
}

/* Seccion 5 Responsive Tester*/

.inputs {
  padding: 0.2rem;
  margin: 0.4rem;
  box-shadow: 3px 3px gray;
}

/* Seccion 7 Deteccion de conexión*/
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: green;
  color: white;
}

.offline {
  background-color: red;
}
