* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}

/* Cabecera*/
.cabecera {
  padding: 1rem;
  background-color: #f7df1e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.titulo {
  font-family: sans-serif;
}
/* Contenedor general*/
.contenedor-general {
  display: flex;
}

/* Contenedor Secciones*/

.contenedor-secciones-desktop {
  width: 80%;
  transition: width 0.3s ease;
}

.contenedor-secciones-mobile {
  width: 100%;
}

/* Menú desktop*/

.contenedor-menu-desktop {
  position: fixed;
  right: 0;
  height: 93vh;
  width: 20%;
  transition: right 0.3s ease;

  background-color: rgba(0, 0, 0, 0.7);
}

.menu-desktop {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.items-menu-desktop {
  list-style: none;
  height: inherit;
}

.items-menu-desktop a {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f7df1e;
  font-size: 1.5rem;
  font-weight: bold;
}

.items-menu-desktop a:hover,
.items-menu-desktop a.active {
  background-color: #f7df1e;
  color: black;
}

.ocultar-menu-desktop {
  position: fixed;
  right: -20%;
  height: 93vh;
  width: 20%;
  transition: right 0.3s ease;

  background-color: rgba(0, 0, 0, 0.7);
}

/* Menú lateral*/
.contenedor-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;

  background-color: rgba(0, 0, 0, 0.7);
}

.mostrar-menu {
  left: 0;
}

.menu {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.items-menu {
  list-style: none;
  height: 100%;
}

.items-menu a {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f7df1e;
  font-size: 1.5rem;
  font-weight: bold;
}

.items-menu a:hover {
  background-color: #f7df1e;
  color: black;
}

/* Botón menú*/
.fas {
  padding: 1rem;
}

.btn {
  position: fixed;
  z-index: 999;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  transition: bottom 500ms ease;
  background-color: #f7df1e;

  border: 1px solid black;
}
.btn:hover {
  background-color: #343430;
  color: #f7df1e;
}

.hideBtn {
  bottom: -3.5rem;
}

/*Botón ScrollTop */
.scrollTop {
  position: fixed;
  z-index: 999;
  bottom: -3.5rem;
  right: 4rem;
  border-radius: 50%;
  text-decoration: none;
  cursor: default;
  background-color: #f7df1e;
  color: #222;

  transition: all 500ms ease;
  border: 1px solid black;
}

.scrollTop:hover {
  background-color: #343430;
  color: #f7df1e;
}

.scrollTopDesktop {
  position: fixed;
  z-index: 999;
  bottom: -3.5rem;
  left: 4rem;
  border-radius: 50%;
  text-decoration: none;
  cursor: default;
  background-color: #f7df1e;
  color: #222;

  transition: all 500ms ease;
  border: 1px solid black;
}

.showScrollTop {
  bottom: 0.5rem;
}
/* Botón dark mode */

.darkModeBtn {
  position: fixed;
  z-index: 999;
  bottom: 0.5rem;
  left: 0.5rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #f7df1e;
}

.darkModeBtn:hover {
  background-color: #343430;
  color: #f7df1e;
}

/* Estilos Dark Mode */

.darkMode {
  background-color: #141414;
  color: #f7df1e;
}

.botonesDark:hover {
  background-color: #696969;
  color: #f7df1e;
}

/* Secciones principales*/

.secciones {
  text-align: center;
  min-height: 100vh;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid black;
}

.titulo-seccion {
  font-family: sans-serif;
  padding: 0.5rem;
}
.subtitulo {
  font-family: monospace;
  font-size: 2rem;
  padding: 1rem;
}

/* Sección 1 Reloj y alarma */
.reloj {
  font-family: fantasy;
  font-size: 3rem;
}

.botones {
  padding: 0.2rem;
}

/* Sección 2 Eventos de teclado*/

.stage {
  display: flex;
  min-height: 50vh;
  background-color: #494949;
  margin-left: 1rem;
  margin-right: 1rem;
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f7df1e;
}

/* Sección 3 Countdown*/
.countdown {
  font-family: monospace;
  font-size: 2rem;
  padding: 0.5rem;
}
.temporizador {
  font-family: monospace;
  font-size: 3rem;
  padding: 0.5rem;
}
.mensaje {
  font-size: 4rem;
  color: crimson;
  font-family: fantasy;
}

/* Seccion 4 Responsive Js*/

.enlaces {
  margin-top: 50px;
  color: #7a7129;
  font-size: 2rem;
  display: block;
}
.enlaces:hover {
  color: #202020;
}

/* Seccion 5 Responsive Tester*/

.inputs {
  padding: 0.2rem;
  margin: 0.4rem;
  box-shadow: 3px 3px gray;
}

/* Seccion 7 Deteccion de conexión*/
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: green;
  color: white;
}

.offline {
  background-color: red;
}

/* Seccion 10 Filtro de busqueda */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: #222;
  color: #f7df1e;
  transition: all 0.5s ease-out;
  margin: 0.5rem;
}
.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/* Seccion 11 Sorteo digital */

.boton-sorteo {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 20%;
  box-shadow: 5px 5px gray;
  outline: none;
}

.ganador-sorteo {
  background-color: green;
  font-size: 1.5rem;
  font-weight: bold;
  color: gold;
}

/* Secion 12 Responsive Slider */

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 50%;
}

.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid black;
  text-decoration: none;
  background-color: #fff;
  color: #000000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

/* Sección 14 Formulario de contacto (validaciones)*/

.contenedor-formulario {
}

.formulario {
  width: 60%;
  margin: auto;
}

.campo-formulario {
  padding: 0.5rem;
}

.campo-formulario input {
  width: 100%;
  padding: 0.3rem;
}

#comentario {
  width: 100%;
  padding: 0.3rem;
  resize: none;
}

.btn-formulario {
}

.campoOk {
  border: 1px solid green;
}
.campoNoOk {
  background-color: rgba(207, 46, 46, 0.7);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 1s ease;
  height: 1rem;
}

.campoNoOkShow {
  opacity: 1;
}
